* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff
  url('preloader/preloader.gif')
   no-repeat center center;	
  z-index: 99999;
}


/* 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ddebfc;
  text-decoration: none;

} */

.tophome{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 90%;
}


.homebackground{
top: 0;
width: 100%;
height: 100%;
object-fit: cover;
object-position: bottom;
}


.logo{
position: absolute;
top: 20px;
left: 100px;

}

.b5glogo{
width: 10%;
  
    }


.navi{
  position: absolute;
  top: 50px;
  right: 200px;


}

.navi a{
  display: inline-block;
  padding: 0px 20px;
  color: rgb(255, 255, 255);
  font-family:monospace;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.navi a:hover{
  padding: 0px 20px;
  color: rgb(230, 223, 253);
  font-size: 20px;
}

.login {
position: absolute;
top: 37px;
right: 40px;
opacity: 90%;
transition: 0.5s;
}
.login:hover {
opacity: 50%;
  }


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.middlehomebackground{
position: absolute;
top: 88%;
left: 0;
width: 100%;
height: 140vh;
background-image:linear-gradient(rgb(0, 0, 0), rgb(4, 0, 20))
}

.toptext{
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  height: 70%;
  text-align: center;
  line-height: 50px;
  
  }

.toptext h1{
  font-size: 180%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  color:rgb(255, 255, 255); 
  transition: 0.5s;
  }

.toptext h1:hover{
  color:rgb(143, 143, 143); 
      }
.toptext h2{
font-size: 130%;
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique;
  color:rgb(170, 170, 170); 
      }
.toptext h2:hover{
  color:rgb(255, 255, 255); 
  }


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.midtext{
display: flex;
justify-content:center;
align-items: center;
width: 100%;
}

.midtext h1{
position: absolute;
top: 100%;
width: 800px;
height: 100px;
font-family:monospace;
font-size: 18px;
font-weight: lighter;
color: rgb(180, 180, 180);
text-align: center;
}

.midtext h2{
position: absolute;
top: 120%;
width: 800px;
height: 100px;
font-family:monospace;
font-size: 15px;
font-weight: lighter;
color: rgb(180, 180, 180);
text-align: center;
}

.carousel {
position: absolute;
width: 100%;
top: 140%;
height: 70vh;
opacity: 30%;
transition: 0.5s;
}

.carousel:hover {
opacity: 80%;
}

.carousel-cell {
width: 62%;
height: 100%;
margin-right: 10px;
background: rgb(0, 0, 20);
border-radius: 5px;
counter-increment: gallery-cell;
object-fit: cover;
filter:blur(10px);

}

.carousel-cell:hover {
filter:blur(0px);

}

.photo1{
border-radius: 40px;
object-fit:cover;
object-position:center;
transition: 4s;
}

.photo1:hover{
border-top: 1px solid white;
border-bottom: 1px solid white;
border-left: 1px solid white;
border-right: 1px solid white;
}


.photo2{
border-radius: 40px;
object-fit:none;
object-position:1px 30%;
transition: 4s;
}

.photo2:hover{
border-top: 1px solid white;
border-bottom: 1px solid white;
border-left: 1px solid white;
border-right: 1px solid white;
}


.photo3{
  border-radius: 40px;
  object-fit:cover;
  object-position:center;
  transition: 4s;
}

.photo3:hover{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}


.photo4{
  border-radius: 40px;
  object-fit:cover;
  object-position:center;
  transition: 4s;
}

.photo4:hover{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}


.movingback{
position: absolute;
top:120%;
opacity: 5%;
width: 100%;
height: 200px;
}

.backgif{
top: 0;
width: 100%;
height: 80vh;
object-fit:cover;
object-position: bottom;
filter: blur(10px);
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.footer{

position: absolute;
top: 225%;
width: 100%;
height: 20px;
background: rgb(134, 134, 134);
border-top: 1.5px solid rgb(37, 37, 37);
text-align: center;
}

.footer h1{
position: absolute;
top: 0;
width: 100%;
color: beige;
font-size: 80%;
text-align: center;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-weight: lighter;
}







/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.bg{
position: absolute;
z-index: -3;
width: 0vw;
}


.b5glogom {
position: absolute;
z-index: -3;
width: 0vw;
}




.carouselm {
position: absolute;
z-index: -3;
width: 0vw;
}



.carousel-cellm {
position: absolute;
z-index: -3;
width: 0vw;
}





.toptextm{
position: absolute;
z-index: -3;
width: 0vw;
  }




.sidebar {
 position: absolute;
z-index: -3;
 width: 0vw;
 }


.openbtn {
 position: absolute;
 z-index: -3;
  width: 0vw;
 }
 
  
.close{
 position: absolute;
 z-index: -3;
 width: 0vw;
   }



.lower-footer{
position: absolute;
z-index: -3;
width: 0vw;
}






















/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* mobile */


@media(max-width:720px){


.tophome{
display: none;
}
.logo{
  display: none;
} 
.navi{
display: none;
}
.login {
display: none;
}
.middlehomebackground{
  display: none;
}
.toptext{
display: none;
  }
.midtext{
display: none;
}
.carousel{
display: none;
}
.movingback{
display: none;

}
.footer{
display: none;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  text-decoration: none;
  align-items: center;
  text-align: center;
  
}




/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.bg{
display: flex;
position: absolute;
background: radial-gradient(rgb(0, 1, 15), rgb(0, 0, 0));
width: 100vw;
height: 100vh;
}


.b5glogom {

position:absolute ;
top: 3%;
left:8%;
width:15%;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.sidebar {
height: 100vh;
width: 0px; 
 position: fixed; 
 z-index:1 ;
 top: 0;
 right: 0;
 background:radial-gradient( rgb(4, 0, 15), rgb(0, 0, 0));
 overflow-x: hidden; 
 padding-top: 0px;
 border-right: 1px solid #000;
 transition: 0.5s;
            }
            

.sb{
margin-top: 25%;
}



.sb a{
margin: 2%;                  
font-size: 20px;
font-family:monospace;
line-height: 50px;
display: block;
color: rgb(255, 255, 255);
text-align: center;
box-sizing: border-box;
border-top: 1px solid rgba(255, 255, 255, 1);
border-bottom: 1px solid black;
 text-decoration: none;
                }
            
            
            .sidebar h1{
             
              font-size: 60px;
              color: #ddebfc;
              text-align: center;
              
              background-color: rgb(0, 0, 0);
              top: 0;
            }



            .openbtn {
              width: 20%;
              position: absolute;
              right: 6%;
              top: 3%;
              transition: 0.3s;
            }
            
            
            .close{
              width: 20%;
              position: absolute;
              right: 6%;
              top: 3%;
              transition: 0.3s;
              }
              

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.toptextm{
justify-content:center;
align-items: center;
position: absolute;
top: 130px;
width: 100vw;
  
  }

  .toptextm h1{
    justify-content:center;
    align-items: center;
    font-size: 150%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(40deg, rgb(0, 195, 255), rgb(0, 217, 255),rgb(0, 219, 248));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: blur(5px);
      }

.toptextm2{
   justify-content:center;
   align-items: center;
   position: absolute;
   top: 130px;
   width: 100vw;
          
          }
        
.toptextm2 h1{
     justify-content:center;
     align-items: center;
     font-size: 150%;
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: azure;  
            
              }
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



.carouselm {
position: absolute;
top: 50%;
height: 40%;
width: 100vw;
opacity: 50%;
transition: 1s;
filter: grayscale(80%);
}


.carousel-cellm {

width: 100%;
height: 100%;
margin-right: 10px;
=
counter-increment: gallery-cell;
object-fit: cover;
filter:blur(1px);
transition: 0.5s;

}


.photo1m{
object-fit:cover;
object-position:center;
transition: 1s;
}


.photo2m{
object-fit:cover;
object-position:center;
transition: 1s;
}


.photo3m{
object-fit:cover;
object-position:center;
transition: 1s;
}


.photo4m{
object-fit:cover;
object-position:center;
transition: 1s;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.lower-footer{
position: absolute;
bottom:0;
background: rgb(54, 54, 54);
border-top:2px solid rgb(0, 0, 0) ;
width: 100%;
height: 25px;
}

.lower-footer h1{
color: rgb(156, 156, 156);
text-align: center;
font-size: 100%;
}