* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #18283b;
}
.Navigation-Bar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: cornflowerblue;
  color: rgb(7, 28, 66);
}
.Navigation-Bar a {
  float: left;
  display: block;
  color: rgb(21, 19, 161);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.Navigation-Bar :hover {
  background-color: #ddd;
  color: black;
}
.Navigation-Bar a:active {
  background-color: blueviolet;
  color: white;
}
.Navigation-Bar .icon {
  display: none;
}
